<?xml version="1.0"?>
<config>

    <default>
        <secsggiftconf>
            <general>
                <sg_api_base_url>https://api.swiftgift.me/</sg_api_base_url>
            </general>
        </secsggiftconf>
    </default>

    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <secsggiftconf>
                                            <title>SwiftGift configuration</title> <!-- Used in resources tree -->
                                        </secsggiftconf>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <modules>
        <Sg_Gift>
            <version>0.1.0</version>
        </Sg_Gift>
    </modules>
    <global>

        <events>

            <checkout_cart_add_product_complete>
                <observers>
                    <sg_gift_handleCartAddProductComplete>
                        <class>sggift/checkout</class>
                        <type>singleton</type>
                        <method>handleCartAddProductComplete</method>
                    </sg_gift_handleCartAddProductComplete>
                </observers>
            </checkout_cart_add_product_complete>

            <customer_address_format>
                <observers>
                    <sg_gift_handleCustomerAddressFormat>
                        <class>sggift/gift</class>
                        <type>singleton</type>
                        <method>handleCustomerAddressFormat</method>
                    </sg_gift_handleCustomerAddressFormat>
                </observers>
            </customer_address_format>

            <controller_action_predispatch_adminhtml_sales_order_view>
                <observers>
                    <sg_gift_handleShowAdminOrderPage>
                        <class>sggift/gift</class>
                        <type>singleton</type>
                        <method>handleShowAdminOrderPage</method>
                    </sg_gift_handleShowAdminOrderPage>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_view>

            <controller_action_predispatch_checkout_onepage_index>
                <observers>
                    <sg_gift_handleInitCheckout>
                        <class>sggift/checkout</class>
                        <type>singleton</type>
                        <method>handlerBeforeCheckoutInit</method>
                    </sg_gift_handleInitCheckout>
                </observers>
            </controller_action_predispatch_checkout_onepage_index>
            <controller_action_postdispatch_checkout_onepage_saveBilling>
                <observers>
                    <sg_gift_handleSaveBilling>
                        <class>sggift/checkout</class>
                        <type>singleton</type>
                        <method>handlerAfterSaveBilling</method>
                    </sg_gift_handleSaveBilling>
                </observers>
            </controller_action_postdispatch_checkout_onepage_saveBilling>
            <sales_model_service_quote_submit_success>
                <observers>
                    <sg_gift_handleSaveOrder>
                        <class>sggift/checkout</class>
                        <type>singleton</type>
                        <method>handlerAfterOrderSubmit</method>
                    </sg_gift_handleSaveOrder>
                </observers>
            </sales_model_service_quote_submit_success>
        </events>

        <blocks>
            <sggift>
                <class>Sg_Gift_Block</class>
            </sggift>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Sg_Gift_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                    <dashboard_sales>Sg_Gift_Block_Adminhtml_Dashboard_Sales</dashboard_sales>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <sggift>
                <class>Sg_Gift_Helper</class>
            </sggift>
        </helpers>
        <models>
            <sggift>
                <class>Sg_Gift_Model</class>
                <resourceModel>sggift_resource</resourceModel>
            </sggift>
            <sggift_resource>
                <class>Sg_Gift_Model_Resource</class>
                <entities>
                    <gift>
                        <table>sg_gift</table>
                    </gift>
                </entities>
            </sggift_resource>
            <sales>
                <rewrite>
                    <service_quote>Sg_Gift_Model_Sales_Service_Quote</service_quote>
                </rewrite>
            </sales>
        </models>
        <resources>
            <sggift_setup>
                <setup>
                    <module>Sg_Gift</module>
                </setup>
            </sggift_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote>
                <swift_gift_used>
                    <to_order>*</to_order>
                </swift_gift_used>
            </sales_convert_quote>
        </fieldsets>

        <swiftgift>
            <template>
                <order_swift_gift_info>sggift/order/swift_gift_info.phtml</order_swift_gift_info>
            </template>
        </swiftgift>

    </global>
    <frontend>
        <routers>
            <sggift>
                <use>standard</use>
                <args>
                    <module>Sg_Gift</module>
                    <frontName>sggift</frontName>
                </args>
            </sggift>
        </routers>
        <layout>
            <updates>
                <sggift>
                    <file>sggift.xml</file>
                </sggift>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <sggift>
                    <file>sggift.xml</file>
                </sggift>
            </updates>
        </layout>
    </adminhtml>
</config>
