<?xml version="1.0" ?>
<config>
    <tabs>
        <sggiftconf>
            <label>SwiftGift</label>
            <sort_order>150</sort_order>
        </sggiftconf>
    </tabs>
    <sections>
        <secsggiftconf module="adminhtml">
            <label>SwiftGift settings</label>
            <tab>sggiftconf</tab>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label comment">
                    <label>General</label>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment><![CDATA[SwiftGift API settings.]]></comment>
                    <expanded>1</expanded>
                    <fields>
                        <sg_api_base_url translate="label comment">
                            <label>SwiftGift API base url</label>
                            <comment>Base URL for SwiftGift api</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sg_api_base_url>
                        <sg_api_client_secret translate="label comment">
                            <label>Secret key</label>
                            <comment>To activate SwiftGift for this store, you need to register an account at b2b.swiftgift.me/registration and receive a Secret Key.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sg_api_client_secret>
                        <magic_link_base_url translate="label comment">
                            <label>Magic link base URL</label>
                            <comment>Base URL for SwiftGift api</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </magic_link_base_url>
                    </fields>
                </general>
            </groups>
        </secsggiftconf>
    </sections>
</config>
